<div class="content">
    <h1> Manager vehicles </h1>
    <div class="detail">


        <br>
        <div class="row">
            <div class="col-md-12">
                <strong>Description</strong>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>This is a small web signal page built by framework angular version 9.1.9.</li>
                    <li>Provides basic features such as for users to view data lists, search, view details. </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <strong>Feature</strong>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><a [routerLink]="['/vehicle/list']">View</a> shows vehicle list data from the StarWars-Api.</li>
                    <li>The <a [routerLink]="['/vehicle/list']">modal</a> displays vehicles' detailed data from the StarWars-Api. </li>
                    <li><a [routerLink]="['/vehicle/list']">Search</a> for vehicles by name from the StarWars-Api.</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <strong>Packpage</strong>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>@ng-bootstrap/ng-bootstrap - version ^6.1.0</li>
                    <li>bootstrap - version 6.1.0 </li>
                    <li>rxjs - version 4.5.0</li>
                    <li>typescript - version 3.8.3</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <strong>Owner</strong>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>Name : Phan Phuc Loc</li>
                    <li>Email: <a href="mailto:ppldhsp@gmail.com">ppldhsp@gmail.com</a> </li>
                    <li>Phone: <a href="tel: 0764451759">076 445 1759</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>